/**
 * 屏幕适配
 */

.ip4() {
    .header {
        .title {
            background-color: brown;
        }
    }
}

.mi() {
    .guide-tip {
        .content {
            font-size: 1.3rem;
        }
    }
    .branch-container {
        height: 465px;
        .branch-item {
            &.base {
                top: 345px;
            }
        }
    }
    .score-panel {
        .fps {
            left: 24px;
        }
    }
}

.ip5() {
    .header {
        .title {
            background-color: brown;
        }
    }
}

.ip6() {
    .header {
        .title {
            background-color: brown;
        }
    }
}

.ip6p() {
    .guide-tip {
        .content {
            font-size: 1.5rem;
        }
    }
    .branch-container {
        height: 525px;
        .branch-item {
            &.base {
                top: 405px;
            }
        }
    }
    .score-panel {
        .fps {
            left: 33px;
        }
    }
}
