@import '../../dep/est/2.0.4/src/all.less';
@import './util.less';
@import './adapter.less';
@import './keyframes.less';

.global-reset();

* {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.main-content {
    background-color: #3b4859;
}

.score-panel {
    padding: 20px 0;
    color: #a3b3c3;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    div {
        text-align: center;
        width: 100px;
        height: 30px;
        line-height: 30px;
        float: left;
    }

    span {
        color: #fff;
    }

    .middle {
        width: 40%;
    }

    .left,
    .right {
        width: 30%;
        span {
            position: absolute;
        }
    }

    .left {
        span {
            &.shake {
                .ani-name(shake);
                .ani-duration(.5s);
                .ani-timing-function(linear);
                .ani-iteration-count(1);
            }
        }
    }

    .fps {
        width: 100px;
        position: absolute;
        height: 20px;
        line-height: 20px;
        left: 33px;
        top: 60px;
    }
}

.guide-tip {
    // display: none;
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);

    .title {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    .content {
        margin: 0 20px;
        text-align: left;
        height: 50px;
        line-height: 2;
        font-size: 1.5rem;
        .clearfix();

        img {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 5px
        }

        .icon {
            background-image: url(../img/icon.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            float: left;
            margin-right: 5px;
            width: 64px;
            height: 64px;
        }
    }

    .start {
        margin-top: 60px;
        width: 114px;
        height: 54px;
        background-image: url(../img/ok.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
                transform: translate3d(-50%, 0, 0);
    }
}

.game-content {
    height: 100%;
    display: none;
}

.paused {
    .ani-play-state(paused);
}

// @defaultWidth: 270px;
@defaultWidth: 270px;

.branch-container {
    // height: 100%;
    // position: relative;
    height: 525px;
    position: relative;
    overflow: hidden;

    .branch-wrapper {
        width: 100%;
        position: absolute;
        top: 100px;
        height: 100000px;
        &.go-down {
            .trans-property(transform);
            .trans-duration(.5s);
            .trans-timing-function(linear);
            .trans-delay(0s);
        }
    }

    .break-branch {
        position: absolute;
        height: 20px;
        // left: 50%;
        opacity: .75;
        left: 0;

        &.down {
            .ani-name(break);
            .ani-duration(.5s);
            .ani-timing-function(linear);
            .ani-iteration-count(1);
        }
    }

    .branch-item {
        position: absolute;
        // width: 270px;
        width: @defaultWidth;
        height: 20px;
        top: 80%;
        // left: 50%;
        left: 0;

        &.base {
            top: 400px;
        }

        &.current {
            z-index: 20;
            top: 0;
        }
    }

    .branch-middle {
        position: absolute;
        // width: 260px;
        width: @defaultWidth - 10;
        height: 20px;
        margin-left: 5px;
        z-index: 1;
        &.branch-middle1 {
            // background-image: url(../img/branch-middle1.png);
            background-image: url(../img/sprite.png);
            background-position: -21px -8px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-middle2 {
            // background-image: url(../img/branch-middle2.png);
            background-image: url(../img/sprite.png);
            background-position: -21px -33px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-middle3 {
            // background-image: url(../img/branch-middle3.png);
            background-image: url(../img/sprite.png);
            background-position: -21px -59px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-middle4 {
            // background-image: url(../img/branch-middle4.png);
            background-image: url(../img/sprite.png);
            background-position: -21px -88px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
    }

    .branch-left {
        position: absolute;
        width: 10px;
        height: 20px;
        z-index: 3;
        &.branch-left1 {
            // background-image: url(../img/branch-left1.png);
            background-image: url(../img/sprite.png);
            background-position: 0 -9px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-left2 {
            // background-image: url(../img/branch-left2.png);
            background-image: url(../img/sprite.png);
            background-position: -1px -33px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-left3 {
            // background-image: url(../img/branch-left3.png);
            background-image: url(../img/sprite.png);
            background-position: -1px -60px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-left4 {
            // background-image: url(../img/branch-left4.png);
            background-image: url(../img/sprite.png);
            background-position: -1px -88px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
    }

    .branch-right {
        position: absolute;
        margin-left: @defaultWidth - 10;
        width: 10px;
        height: 20px;
        z-index: 2;
        &.branch-right1 {
            // background-image: url(../img/branch-right1.png);
            background-image: url(../img/sprite.png);
            background-position: -287px -9px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-right2 {
            // background-image: url(../img/branch-right2.png);
            background-image: url(../img/sprite.png);
            background-position: -287px -33px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-right3 {
            // background-image: url(../img/branch-right3.png);
            background-image: url(../img/sprite.png);
            background-position: -287px -60px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
        &.branch-right4 {
            // background-image: url(../img/branch-right4.png);
            background-image: url(../img/sprite.png);
            background-position: -287px -88px;
            background-size: 300px 120px;
            background-repeat: no-repeat;
        }
    }
}

.end {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    z-index: 50;

    .title {
        margin-top: 50%;
        font-size: 3rem;
    }
    .info {
        width: 300px;
        text-align: center;
        margin: 20px 0;
        position: absolute;
        -webkit-transform: translate3d(-50%, 0, 0);
                transform: translate3d(-50%, 0, 0);
        left: 50%;
        font-size: 1.5rem;
        height: 50px;
        line-height: 2;
    }

    .play-again {
        width: 140px;
        text-align: center;
        margin: 20px 0;
        position: absolute;
        -webkit-transform: translate3d(-50%, 0, 0);
                transform: translate3d(-50%, 0, 0);
        left: 50%;
        font-size: 1.5rem;
        height: 30px;
        line-height: 30px;
        margin-top: 70px;
        border: 1px solid #fff;
        border-radius: 5px;
    }

}

// ip4 and (device-aspect-ratio: 2/3)
@media (min-width: 320px) and (max-width: 480px) and (device-aspect-ratio: 2/3) and (-webkit-device-pixel-ratio: 2) and (orientation:portrait) {
    .ip4();
}

// ip5 and (device-aspect-ratio: 40/71)
@media (min-width: 320px) and (max-width: 568px) and (device-aspect-ratio: 40/71) and (-webkit-device-pixel-ratio: 2) and (orientation:portrait) {
    .ip5();
}

// xiaomi
@media (min-width: 360px) and (max-width: 640px) {
    // note, 3, 4
    @media (-webkit-device-pixel-ratio: 3) {
        .mi();
    }
    // 2s, 2
    @media (-webkit-device-pixel-ratio: 2) {
        .mi();
    }

    // 三星 GM3818
    @media (-webkit-device-pixel-ratio: 1.5) {
        .mi();
    }
    // S6 edge
    @media (-webkit-device-pixel-ratio: 4) {
        .mi();
    }
}

// ip6 Portrait
@media (min-width: 375px) and (max-width: 667px) and (orientation : portrait) {
    .ip6();
}

// ip6+ Portrait
@media (min-width: 414px) and (max-width: 736px) and (orientation : portrait) {
    .ip6p();
}