/**
 * 木头左右摆动
 */
@-webkit-keyframes 'swing' {
    0% {
        -webkit-transform: translateX(50px) translateZ(0);
                transform: translateX(50px) translateZ(0);
    }
    50% {
        -webkit-transform: translateX(0) translateZ(0);
                transform: translateX(0) translateZ(0);
    }
    100% {
        -webkit-transform: translateX(-50px) translateZ(0);
                transform: translateX(-50px) translateZ(0);
    }
}

@keyframes 'swing' {
    0% {
        -webkit-transform: translateX(50px) translateZ(0);
                transform: translateX(50px) translateZ(0);
    }
    50% {
        -webkit-transform: translateX(0) translateZ(0);
                transform: translateX(0) translateZ(0);
    }
    100% {
        -webkit-transform: translateX(-50px) translateZ(0);
                transform: translateX(-50px) translateZ(0);
    }
}

/**
 * 截断的木头落下
 */
@-webkit-keyframes 'break' {
    0% {
        opacity: .75;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        opacity: .45;
        -webkit-transform: translateY(9px);
                transform: translateY(9px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(17px);
                transform: translateY(17px);
    }
}
@keyframes 'break' {
    0% {
        opacity: .75;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        opacity: .45;
        -webkit-transform: translateY(9px);
                transform: translateY(9px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(17px);
                transform: translateY(17px);
    }
}
